body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 
  .USA {
    height: 900px;
    width: 450%;
  }

  .USA-flag {
    width: 900px;
    height: 450px;
    position: absolute;
  }

  .stripe {
    background-color:red;
    width: 100%;
    height: calc(450px / 13);
    
  }
  .stripe-white {
    background-color: white;
  }

  .blue {
    background-color: blue;
    position: absolute;
    top: 0;
    left: 0;
    width: 600px;
    height: 400px
     
  }
  