body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 
  .USA {
    height: 100%;
    width: 100%;
  }

  .USA-flag {
    width: 900px;
    height: 450px;
    position: relative;
  }

  .stripe {
    background-color: #9b1c2c;
    width: 100%;
    height: calc(450px / 13);
  }
  .stripe-white {
    background-color: white;
  }

  .blue {
    position: absolute;
    top: 0;
    left: 0;
    width: 378px;
    height: 450px
    background-color: blue;
 
}
  